.button-active {
  &__shadow {
    width: 294px;
    height: 66px;
    border: 2px solid #ffc300;
    position: relative;
    left: 16px;
    bottom: 54px;
    z-index: 1;
  }

  &__button {
    width: 298px;
    height: 70px;
    background: #ffc300;
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 2;
    border: none;
    cursor: pointer;

    &:active {
      transform: translate3d(16px, 16px, 0);
      transition: 0.3s;
    }
  }
}

.title {
  margin-left: 0;
  color: $font-color-grey;

  &__header {
    text-transform: uppercase;
    font-size: 36px;
  }

  &__line {
    border: none;
    margin-left: 0;
    margin-top: 10px;
    height: 4px;
    width: 190px;
    background-color: $yellow;
  }
}

.title-description {
  max-width: 626px;
  width: 100%;
  line-height: 159%;
  margin-top: 28px;
}

.description-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

@media screen and (max-width: 1280px) {
  .button-active {
    &__shadow, &__button {
        margin-left: 15px;
      }
  }
}

@media screen and (max-width: 1000px){
  .button-active {
    &__button {
      font-size: 16px;
      width: 248px;
      height: 50px;
    }
    &__shadow {
      width: 244px;
      height: 46px;
      bottom: 34px
    }
  }
}

@media screen and (max-width: 480px){
  .button-active {
    &__button {
      font-size: 14px;
      width: 208px;
      height: 30px;
    }
    &__shadow {
      width: 204px;
      height: 26px;
      bottom: 14px;
    }
  }
}