# JetBrains folder
.idea

# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# website1/dist/*.js
# website1/dist/*.png
# website1/dist/*.css

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test
