.appointment-bunker {
  background-color: #F2EFE9;
  padding: 76px 75px;
}

.appointment-bunker__title-description{
  margin-top: 13px;
}

.threat-box {
  display: flex;
  margin-top: 42px;
}

.threat {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 410px;
  height: 275px;
  background-color: white;
  padding-top: 26px;
  padding-bottom: 40px;
}

.threat-icon{
  width: 50px;
  height: 50px;
  margin-bottom: 21px;
}

.threat__threat-name{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.threat__protection-description{
  width: 350px;
  line-height: 159%;
  font-weight: 300;
  text-align: center;
}

.threat_center-item{
  margin: 0 30px;
}