.protection-family{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.img-family{
  width: 627px;
  height: 708px;
  padding-right: 78px;
  margin-top: 18px;
}

.description{
  margin-left: 75px;
  padding-right: 33px;
  line-height: 120%;
  font-weight: 300;
}

.button-protection-family{
  margin-left: 73px;
  margin-top: 54px;
}