.protection-family{
  display: flex;
  justify-content: space-between;
  padding: 100px 75px;
}

.img-family{
  width: 627px;
  height: 708px;
}

.protection-family__description{
  margin-top: 41px;
  padding-right: 33px;
}

.button-protection-family{
  margin-top: 54px;
}