html,
body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #4F4A45;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section{
  width: 100%;
  display: flex;
  background-color: #4F4A45; /*-= DELETED =-*/
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: #4F4A45;
}