.button_active {
  width: 298px;
  height: 70px;
  background: #FFC300;
  font-size: 20px;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 2;
}

.button_active:hover {
  cursor: pointer;
}

.button_active:active {
  transform: translate3d(16px, 16px, 0);
  transition: 0.3s;
}

.button_active__shadow{
  width: 294px;
  height: 66px;
  border: 2px solid #FFC300;
  position: relative;
  left: 16px;
  bottom: 54px;
  z-index: 1;
}

.title__section {
  margin-left: 75px;
  color: #4f4a45;
}

.title__header{
  font-size: 36px;
  height: 46px;
}

.title__line {
  margin-left: 0;
  margin-top: 10px;
}

.appointment__header-text{
  width: 628px;
  height: 44px;
  line-height: 159%;
  margin-top: 28px;
}