.button_active {
  width: 298px;
  height: 70px;
  background: #FFC300;
  font-size: 20px;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 2;
  border: none;
}

.button_active:hover {
  cursor: pointer;
}

.button_active:active {
  transform: translate3d(16px, 16px, 0);
  transition: 0.3s;
}

.button_active__shadow {
  width: 294px;
  height: 66px;
  border: 2px solid #FFC300;
  position: relative;
  left: 16px;
  bottom: 54px;
  z-index: 1;
}

.title {
  margin-left: 0;
  padding-left: 75px;
  color: #4f4a45;
}

.title__header {
  text-transform: uppercase;
  font-size: 36px;
}

.title__line {
  border: none;
  margin-left: 0;
  margin-top: 10px;
  height: 4px;
  width: 190px;
  background-color: #FFC300;
}

.title__header-text {
  width: 628px;
  line-height: 159%;
  margin-top: 28px;
}