.header{
  display: flex;
  justify-content: center;
}
.nav {
  display: flex;
  align-items: center;
}

.logo_company {
  width: 151px;
  height: 81px;
}

.name_company {
  font-weight: 700;
  line-height: 159.02%;
  width: 286px;
  height: 29px;
}

.menu {
  display: flex;
}

.menu__link {
  margin: 10px;
}

.language {
  margin-left: 57px;
  margin-right: 30px;
  font-weight: 700;
  line-height: 159.02%;
  color: #FFC300;
}

.btn_call {
  border: 2px solid #FFC300;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  width: 190px;
  height: 48px;
  background-color: #fff;
  transition: 0.3s;
}

.btn_call:hover{
  background-color: #FFC300;
  color: #fff;
  cursor: pointer;

}