/* COLOR GROUP */

$font-color-grey: #4f4a45;
$grey-light: #f2efe9;
$grey-line: #d9d9d9;
$yellow: #ffc300;
$white: #fff;
$white-back: #f5f5f5;
$white-form: #DDDDDD;

/* Z-INDEX GROUP */

$z-index-contact-form: 1;
$z-index-button-active-shadow: 1;
$z-index-button-active: 2;
$z-index-modal-fon: 30;
$z-index-icon-img: 2;
$z-index-icon-ban: 1;
$z-index-header: 10;
$z-index-header-nav-actions: 20;
$z-index-header-nav-menu-icon: 20;

