.autonomy {
  &-wrapper {
    width: 100%;
    background-color: $white-back;
  }

  &__branches {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px 20px;
  }

  &__branch {
    width: 300px;

    &-img {
      width: 300px;
    }

    &-title {
      text-transform: uppercase;
      margin-top: 28px;
      font-size: 24px;
      font-weight: 400;
      line-height: 127%;
    }

    &-description {
      margin-top: 15px;
    }
  }
}