.contacts {
  &-wrapper {
    width: 100%;
    background-color: $white-back;
  }

  &__title {
    margin-bottom: 68px;
    position: relative;
  }

  &__callback {
    position: absolute;
    top: 156px;
    left: 515px;
    max-width: 849px;
    height: 696px;
    padding: 52px 70px 69px 80px;
    background: $white;
    z-index: $one;
    box-shadow: 0 7px 24px rgba(164, 151, 120, 0.17);

    &-title {
      font-size: 24px;
      line-height: 127%;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &-subtitle {
      max-width: 371px;
      font-weight: 300;
      line-height: 23px;
      margin-bottom: 53px;
    }

    &-form {
      font-weight: 300;
      line-height: 22px;
      height: 60px;
      padding-left: 30px;
      font-size: 18px;
      border: 1px solid #DDDDDD;
      margin-bottom: 16px;
    }

    &-name-phone {
      display: flex;
      justify-content: space-between;
    }

    &-name {
      width: 48%;
      min-width: 147px;
    }

    &-phone {
      width: 48%;
      min-width: 147px;
    }

    &-mail {
      width: 100%;
    }

    &-text {
      width: 100%;
      min-height: 201px;
      padding-top: 27px;
      font-family: Source Sans Pro;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
    }

    &-button {
      border: 2px solid $yellow;
      height: 60px;
      width: 100%;
      background: $yellow;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
      color: $white;
      cursor: pointer;
    }
  }

  &-wrapper_grey {
    width: 100%;
    background: $grey-light;
  }
}

.contact {
  &__company {
    padding-top: 84px;
    padding-bottom: 25px;
  }

  &__address {
    display: flex;
  }

  &__icon {
    padding-right: 19px;
  }

  &__address-text {
    max-width: 308px;
    font-size: 24px;
    line-height: 30px;
  }

  &__phone {
    display: flex;
    margin-top: 26px;
  }

  &__phone-text {
    font-size: 24px;
    line-height: 30px;
  }

  &__schedule {
    display: flex;
    font-weight: 300;
    line-height: 23px;
  }

  &__opening-hours {
    margin: 0 42px 36px 43px;
  }

  &__mail {
    display: flex;
  }

  &__mail-text {
    font-size: 24px;
    line-height: 30px;
  }

  &__license {
    display: flex;
    margin-top: 30px;
  }

  &__license-text {
    font-size: 24px;
    line-height: 127%;
  }

  &-facebook {
    margin-top: 36px;
    margin-left: 43px;

    &--svg {
      cursor: pointer;

      &:hover {
        path {
          fill: $font-color-grey;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    background-color: $white-back;
    height: 176px;
  }
}

@media screen and (max-width: 1000px) {
  .contacts {
    &__callback {
      left: 400px;

      &-name-phone {
        flex-wrap: wrap;
      }

      &-title {
        font-size: 22px;
      }

      &-subtitle {
        font-size: 21px;
      }

      &-name {
        width: 100%;
      }

      &-phone {
        width: 100%;
      }

      &-text {
        min-height: 100px;
      }

      &-button {
        font-size: 18px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    &__callback {
      top: 721px;
      left: 15px;
    }
  }

  .contact {
    &__footer {
      height: 900px;
    }
  }
}